In [4]:
#Import Modules
import pandas as pd

In [5]:
#Read annual csv files and create DataFrames 
annual_files = ['2015-Annual.csv', '2016-Annual.csv', '2017-Annual.csv','2018-Annual.csv', '2019-Annual.csv']

dfs = []
for file in annual_files:
    df = pd.read_csv(file, index_col=None, header=0)
    dfs.append(df)

big_frame = pd.concat(dfs, ignore_index=True)
big_frame

,Edition,Report Type,Measure Name,State Name,Rank,Value,Score,Lower CI,Upper CI,Source,Source Year
0,2015,2015 Annual,Air Pollution,Alabama,34.0,9.5,0.00,NaN,NaN,U.S. Environmental Protection Agency; U.S. Cen...,2012-2014
1,2015,2015 Annual,Air Pollution,Alaska,4.0,6.0,-2.00,NaN,NaN,U.S. Environmental Protection Agency; U.S. Cen...,2012-2014
2,2015,2015 Annual,Air Pollution,Arizona,37.0,9.7,0.12,NaN,NaN,U.S. Environmental Protection Agency; U.S. Cen...,2012-2014
3,2015,2015 Annual,Air Pollution,Arkansas,37.0,9.7,0.12,NaN,NaN,U.S. Environmental Protection Agency; U.S. Cen...,2012-2014
4,2015,2015 Annual,Air Pollution,California,50.0,12.5,1.78,NaN,NaN,U.S. Environmental Protection Agency; U.S. Cen...,2012-2014
...,...,...,...,...,...,...,...,...,...,...,...
181517,2019,2019 Annual,Water Fluoridation,Vermont,40.0,56.3,-0.79,NaN,NaN,"CDC, Water Fluoridation Reporting System",2014
181518,2019,2019 Annual,Water Fluoridation,Washington,33.0,63.9,-0.46,NaN,NaN,"CDC, Water Fluoridation Reporting System",2014
181519,2019,2019 Annual,Water Fluoridation,Wisconsin,16.0,88.9,0.64,NaN,NaN,"CDC, Water Fluoridation Reporting System",2014
181520,2019,2019 Annual,Water Fluoridation,West Virginia,14.0,90.5,0.71,NaN,NaN,"CDC, Water Fluoridation Reporting System",2014
181521,2019,2019 Annual,Water Fluoridation,Wyoming,39.0,57.1,-0.76,NaN,NaN,"CDC, Water Fluoridation Reporting System",2014

In [7]:
#Read other csv files and create DataFrames
other_files = ['Median Household Income.csv', 'Nutrition__Physical_Activity__and_Obesity_-_Behavioral_Risk_Factor_Surveillance_System.csv']

li = []
for file in other_files:
    df = pd.read_csv(file, index_col=None, header=0)
    li.append(df)
    
df_median_income = pd.DataFrame(li[0])
df_obesity = pd.DataFrame(li[1])

df_median_income

,State,2018,2018.1,2017,2017.1,2016,2016.1,2015,2015.1
0,State,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror
1,United States,"63,179",420,"61,372",335,"59,039",436,"56,516",321
2,Alabama,"49,936","2,423","51,113",845,"47,221","2,301","44,509","3,419"
3,Alaska,"68,734","3,390","72,231","2,719","75,723","4,086","75,112","3,485"
4,Arizona,"62,283","2,291","61,125","2,642","57,100","1,971","52,248","2,008"
5,Arkansas,"49,781","2,108","48,829","2,642","45,907","2,165","42,798","1,572"
6,California,"70,489","1,233","69,759","1,452","66,637","1,075","63,636","1,711"
7,Colorado,"73,034","3,562","74,172","2,982","70,566","4,125","66,596","3,682"
8,Connecticut,"72,812","5,119","72,780","3,509","75,923","3,404","72,889","4,449"
9,Delaware,"65,012","3,599","62,318","3,300","58,046","2,992","57,756","3,392"
10,D.C.,"85,750","2,659","83,382","3,319","70,982","2,734","70,071","2,861"
11,Florida,"54,644","1,887","53,681","1,816","51,176",835,"48,825","1,395"
12,Georgia,"55,821","2,032","57,016","2,434","53,527","1,679","50,768","1,401"
13,Hawaii,"80,108","3,482","73,575","2,227","72,133","2,510","64,514","2,840"
14,Idaho,"58,728","2,405","60,208","2,400","56,564","1,261","51,624","1,260"
15,Illinois,"70,145","2,253","64,609","1,999","61,386","1,761","60,413","1,999"
16,Indiana,"59,892","1,997","58,873","2,026","56,094","2,877","51,983","1,682"
17,Iowa,"68,718","2,910","63,481","5,512","59,094","2,484","60,855","3,275"
18,Kansas,"63,938","2,027","57,872","2,898","56,810","3,268","54,865","3,731"
19,Kentucky,"54,555","3,668","51,348","1,364","45,369","2,005","42,387","2,269"
20,Louisiana,"49,973","1,754","43,903","1,453","42,196","1,197","45,922","2,140"
21,Maine,"58,663","5,683","51,664","2,146","50,856","3,346","50,756","1,929"
22,Maryland,"86,223","3,331","81,084","3,652","73,760","2,591","73,594","2,692"
23,Massachusetts,"86,345","2,785","73,227","3,328","72,266","2,911","67,861","2,790"
24,Michigan,"60,449","1,906","57,700","2,337","57,091","1,908","54,203","2,005"
25,Minnesota,"71,817","3,656","71,920","2,991","70,218","4,045","68,730","3,063"
26,Mississippi,"42,781","2,304","43,441","2,204","41,099","1,226","40,037","1,071"
27,Missouri,"61,726","2,442","56,885","2,611","55,016","1,719","59,196","2,607"
28,Montana,"57,679","2,876","59,087","2,589","57,075","2,880","51,395","2,937"
29,Nebraska,"67,575","3,933","59,619","2,848","59,374","2,678","60,474","2,937"
30,Nevada,"61,864","2,116","56,550","3,039","55,431","2,137","52,008","2,272"
31,New Hampshire,"81,346","3,394","74,801","3,041","76,260","2,913","75,675","3,519"
32,New Jersey,"74,176","2,845","72,997","2,999","68,468","2,867","68,357","3,132"
33,New Mexico,"48,283","2,202","47,855","1,969","48,451","2,961","45,119","2,885"
34,New York,"67,274","1,722","62,447","2,093","61,437","1,405","58,005","2,205"
35,North Carolina,"53,369","1,761","50,343","1,760","53,764","1,629","50,797","1,343"
36,North Dakota,"66,505","3,095","59,886","1,676","60,184","2,290","57,415","3,233"
37,Ohio,"61,633","2,254","59,768","1,890","53,985","1,894","53,301","1,957"
38,Oklahoma,"54,434","2,774","55,006","3,102","50,943","1,652","47,077","1,937"
39,Oregon,"69,165","3,655","64,610","2,856","59,135","2,622","60,834","2,374"
40,Pennsylvania,"64,524","1,635","63,173","2,753","60,979","2,036","60,389","2,227"
41,Rhode Island,"62,266","3,348","66,390","4,209","61,528","2,828","55,701","3,247"
42,South Carolina,"57,444","2,082","54,971","2,078","54,336","3,153","46,360","2,266"
43,South Dakota,"59,463","2,642","56,894","3,633","57,450","3,075","55,065","2,604"
44,Tennessee,"56,060","1,442","55,240","2,162","51,344","1,387","47,330","1,708"
45,Texas,"59,785","1,372","59,295","1,702","58,146","1,407","56,473","1,289"
46,Utah,"77,067","2,327","71,319","2,250","67,481","2,237","66,258","2,462"
47,Vermont,"70,066","2,350","63,805","3,133","60,837","1,364","59,494","2,622"
48,Virginia,"77,151","3,086","71,293","3,276","66,451","2,436","61,486","2,439"
49,Washington,"79,726","3,025","75,418","3,307","70,310","2,092","67,243","3,253"
50,West Virginia,"50,573","1,337","45,392","1,485","44,354","1,994","42,824","3,132"
51,Wisconsin,"62,629","2,039","63,451","3,673","59,817","1,845","55,425","1,487"
52,Wyoming,"62,539","3,892","57,837","3,134","57,829","3,122","60,925","2,024"

In [15]:
#IGNORAR 
from datapackage import Package
data_url = 'https://datahub.io/machine-learning/diabetes/datapackage.json'

# to load Data Package into storage
package = datapackage.Package(data_url)

# to load only tabular data
resources = package.resources
for resource in resources:
    if resource.tabular:
        data = pd.read_csv(resource.descriptor['path'])
        print (data)

NameError: name 'datapackage' is not defined

In [ ]:
#Statistical analysis

In [ ]:
#Create maps